.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 375px;
  text-align: center;
}

.header {
  color: var(--orange);
  font-family: var(--apex-bold);
  font-size: 24px;
  letter-spacing: 0.1rem;
}

.heading {
  color: var(--white);
  font-family: var(--bevietnam-bold);
  font-size: clamp(24px, 8vw, 40px);
  margin: 1rem auto;
}

.paragraph {
  margin-bottom: 1rem;
}

.button {
  color: var(--orange);
  background: none;
  font-family: var(--apex-light);
  font-size: var(--fs-md);
  letter-spacing: 0.2rem;
  text-decoration: none;
  border: solid 1px var(--orange);
  border-radius: 2px;
  outline: none;
  margin: 1rem;
  padding: 20px 40px;
  cursor: pointer;
  transition: background 0.3s !important;
}
.button:hover {
  background: rgba(241, 188, 82, 0.2);
  transition: background 0.3s !important;
}
