// Variables
$kreonfont: "Kreon Bold";
$oxygen-mono: "Oxygen Mono";
$kreon: "Kreon";
$opensans: "Open Sans";
$orange: #f1bb52;
$graycolor: #accdd7;
$light-slate: #b9cac9;
$opensans-bold: "Open Sans Bold";

.container {
  // display: flex;
  // flex-direction: column;
  padding: 150px 0;
  // align-items: flex-start;
}

.title {
  color: white;
  // font-family: "Oxygen Mono";
  font-family: "Kreon";
  white-space: nowrap;
  margin-right: 1rem;
  font-size: 24px;
}

.heading {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 2rem;
}

.hr {
  border-bottom: solid 1px #b9cac9;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.job {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.line1 {
  display: flex;
  justify-content: space-between;
}

.company {
  color: #fff;
  font-family: $opensans-bold;
}

.date {
  color: $graycolor;
  font-family: $oxygen-mono;
}

.position {
  color: $graycolor;
}

.view {
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.arrow {
  color: $orange;
  transition: transform 0.3s;
}

.linka {
  color: white;
  transition: 0.3s;
  margin-right: 0.5rem;
}

.view:hover {
  .arrow {
    transform: translateX(5px);
    transition: transform 0.3s;
  }

  .linka {
    transform: translateX(-5px);
    transition: transform 0.3s;
  }
}
