/* Fonts */
@font-face {
  font-family: "Apex Bold";
  src: url(../fonts/Apex-Mk3-Bold.otf);
}

@font-face {
  font-family: "Apex Light";
  src: url(../fonts/Apex-Mk3-Light.otf);
}

@font-face {
  font-family: "BeVietnam Bold";
  src: url(../fonts/BeVietnam-Bold.ttf);
}

@font-face {
  font-family: "BeVietnam Light";
  src: url(../fonts/BeVietnam-Light.ttf);
}

@font-face {
  font-family: "Oxygen Mono";
  src: url(../fonts/OxygenMono-Regular.ttf);
}

/* Variables */
:root {
  --gunmetal: #212121;
  --orange: #f1bb52;
  --white: #fff;
  --slate: #accdd7;
  --slate-light: #b9cac9;

  --apex-bold: "Apex Bold";
  --apex-light: "Apex Light";
  --bevietnam-bold: "BeVietnam Bold";
  --bevietnam-light: "BeVietnam Light";
  --oxygen-mono: "Oxygen Mono";

  --fs-xs: 10px;
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 18px;

  --apex-letter-spacing: 0.1rem;
}

/* Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--gunmetal);
  font-family: var(--bevietnam-light);
  font-size: var(--fs-lg);
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
  transition: 0.3s;
}

.button {
  color: var(--orange);
  font-family: "Oxygen Mono";
  font-size: 14px;
  padding: 20px 40px;
  border: solid 1px var(--orange);
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}

.button:hover {
  background: rgba(241, 188, 82, 0.2);
  transition: all 0.3s;
}

@media screen and (max-width: 1080px) {
  .main {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 480px) {
  .main {
    padding: 0px 25px;
  }
}

.drawer-enter {
  transform: translateX(100%);
}
.drawer-enter-active {
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}
.drawer-exit {
  transform: translateX(0%);
}
.drawer-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
