// Variables
$gunmetal: #212121;
$orange: #f1bb52;
$fs-sm: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;

// fonts
// apex bold is for headers
// apex light is for links
// oxygen mono is for small details
// bevietname-light for all general text

// Fonts
@font-face {
  font-family: "BeVietnam";
  src: url(../fonts/BeVietnam-Regular.ttf);
}

@font-face {
  font-family: "BeVietnam Bold";
  src: url(../fonts/BeVietnam-Bold.ttf);
}

@font-face {
  font-family: "BeVietnam Light";
  src: url(../fonts/BeVietnam-Light.ttf);
}

@font-face {
  font-family: "Apex Bold";
  src: url(../fonts/Apex-Mk3-Medium.otf);
}

@font-face {
  font-family: "Apex light";
  src: url(../fonts/Apex-Mk3-ExtraLight.otf);
}

@font-face {
  font-family: "Oxygen Mono";
  src: url(../fonts/OxygenMono-Regular.ttf);
}

:root {
  // Colors
  --orange: #f1bb52;

  // Fonts
  --apex-bold: "Apex Bold";
}

// Global CSS rules
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $gunmetal;
  font-family: "BeVietnam Light";
  font-size: $fs-lg;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
  transition: 0.3s;
}

.button {
  color: $orange;
  font-family: "Oxygen Mono";
  font-size: 14px;
  padding: 20px 40px;
  border: solid 1px $orange;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}

.button:hover {
  // color: white;
  // background: $orange;
  background: rgba(241, 188, 82, 0.2);
  transition: all 0.3s;
}

@media screen and (max-width: 1080px) {
  .main {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 480px) {
  .main {
    padding: 0px 25px;
  }
}

.drawer-enter {
  // opacity: 0;
  transform: translateX(100%);
}
.drawer-enter-active {
  // opacity: 1;
  // transition: opacity 200ms;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}
.drawer-exit {
  // opacity: 1;
  transform: translateX(0%);
}
.drawer-exit-active {
  // opacity: 0;
  // transition: opacity 200ms;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
