.container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  z-index: 2;
  transition: 0.3s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  cursor: pointer;
}
.logo > img {
  display: block;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  color: var(--light-slate);
  font-family: var(--apex-light);
  font-size: var(--fs-md);
  letter-spacing: var(--apex-letter-spacing);
  text-decoration: none;
  padding: 0 15px;
  transition: all 0.3s;
}
.link:after {
  content: "";
  display: block;
  flex-direction: column;
  background-color: var(--orange);
  width: 0px;
  height: 2px;
  transition: width 0.3s;
}
.link:hover {
  color: var(--orange);
  transition: all 0.3s;
}
.link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.resume {
  color: var(--orange);
  font-family: var(--apex-light);
  font-size: var(--fs-md);
  letter-spacing: 0.2rem;
  text-decoration: none;
  background: none;
  border: solid 1px var(--orange);
  outline: none;
  margin-left: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.resume:hover {
  background: rgba(241, 188, 82, 0.2);
  transition: all 0.3s;
}

.hamburger {
  display: none;
  color: var(--orange);
  cursor: pointer;
}

/* .thedrawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  background-color: #313131;
  box-shadow: -10px 10px 30px -10px black;
  z-index: 2;
  overflow-y: hidden;
} */

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }

  .links {
    display: none;
  }
}
