$greencolor: #68e8c7;
$slatecolor: #68808d;
$orangecolor: #f1bb52;
$font: "Oxygen Mono";
$openfont: "Open Sans";
$kreonfont: "Kreon";

.header {
  display: flex;
  justify-content: space-between;
  margin: 3rem 3rem;
}

.links {
  display: flex;
}

.resume {
  outline: none;
  border: solid 1px $orangecolor;
  color: $orangecolor;
  font-family: $font;
  background: none;
  margin: auto 1rem;
  padding: 0.5rem;
}

.link {
  color: #b9cac9;
  font-family: $font;
  text-decoration: none;
  margin: auto 1rem;
  transition: all 0.3s;
}

.link:hover {
  color: $orangecolor;
  transition: all 0.3s;
}
