// Variables
// Variables
$kreonfont: "Kreon Bold";
$oxygen-mono: "Oxygen Mono";
$kreon: "Kreon";
$opensans: "Open Sans";
$orange: #f1bb52;
$graycolor: #accdd7;
$light-slate: #b9cac9;
$opensans-bold: "Open Sans Bold";
$apexfont: "Apex";
$apexlight: "Apex light";
$beviet: "BeVietnam";
$beviet-bold: "BeVietnam Bold";
$beviet-light: "BeVietnam Light";

.container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  transition: 0.3s;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  cursor: pointer;
}

.pic {
  display: block;
}

.links {
  display: flex;
}

.link {
  color: $light-slate;
  font-family: $apexlight;
  letter-spacing: 0.1rem;
  font-size: 14px;
  margin: auto;
  padding: 0 15px;
  text-decoration: none;
  transition: all 0.3s;
}

.resume {
  padding: 0 15px;
}

.button {
  margin-left: 15px;
  color: $orange;
  font-family: $apexlight;
  letter-spacing: 0.2rem;
  font-size: 14px;
  padding: 5px 10px;
  border: solid 1px $orange;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}

.link:hover {
  color: $orange;
  transition: all 0.3s;
}

.button:hover {
  background: rgba(241, 188, 82, 0.2);
  transition: all 0.3s;
}

.hamburger {
  display: none;
  color: $orange;
  cursor: pointer;
}

@media screen and (max-width: 748px) {
  .hamburger {
    display: inline-block;
  }

  .links {
    display: none;
  }
}

.link:after {
  content: "";
  display: block;
  flex-direction: column;
  background-color: $orange;
  width: 0;
  height: 2px;
  transition: width 0.3s;
}

.link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.thedrawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  background-color: #313131;
  box-shadow: -10px 10px 30px -10px black;
  z-index: 2;
  overflow-y: hidden;
}
