// Variables
$kreonfont: "Kreon Bold";
$font: "Oxygen Mono";
$kreon: "Kreon";
$opensans: "Open Sans";
$ascent-color: #f1bb52;
$graycolor: #accdd7;

/* CSS rules */
.wrapper {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}

.hero {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
}

.content {
  display: flex;
  flex-direction: column;
}

.greeting {
  font-family: $font;
  font-size: clamp(12px, 5vw, 14px);
  color: $ascent-color;
}

.name {
  font-family: "Kreon bold";
  color: #ffffff;
  font-size: clamp(40px, 8vw, 80px);
  letter-spacing: 0.3rem;
}

.subheading {
  font-family: "Kreon bold";
  font-size: clamp(40px, 8vw, 80px);
  color: $graycolor;
  letter-spacing: 0.3rem;
}

.description {
  font-family: "Open Sans";
  color: $graycolor;
  margin: 20px 0 0;
  max-width: 500px;
}

.icons {
  margin: 3rem 0;
  display: flex;
  max-width: 300px;
  justify-content: space-between;
}

.icon {
  color: #b9cac9;
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  color: $ascent-color;
  transition: all 0.3s;
}
