// Variables
$kreonfont: "Kreon Bold";
$oxygen-mono: "Oxygen Mono";
$kreon: "Kreon";
$opensans: "Open Sans";
$opensans-bold: "Open Sans Bold";
$orange: #f1bb52;
$graycolor: #accdd7;
$light-slate: #b9cac9;
$apexfont: "Apex";
$apexlight: "Apex light";
$beviet: "BeVietnam";
$beviet-bold: "BeVietnam Bold";
$beviet-light: "BeVietnam Light";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0px auto;
}

.greeting {
  color: var(--orange);
  font-family: var(--oxygen-mono);
  font-size: clamp(var(--fs-sm), 5vw, var(--fs-md));
  margin-bottom: 1rem;
}

.name {
  font-family: $apexfont;
  color: #ffffff;
  font-size: clamp(40px, 8vw, 80px);
  letter-spacing: 0.3rem;
}

.subheading {
  font-family: $apexfont;
  font-size: clamp(40px, 8vw, 80px);
  color: $graycolor;
  letter-spacing: 0.3rem;
}

.description {
  font-family: $beviet-light;
  color: $light-slate;
  margin: 20px 0 0;
  max-width: 450px;
  margin-top: 1rem;
  line-height: 1.5;
}

.icons {
  margin: 3rem 0;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.icon {
  color: $light-slate;
  // color: $orange;
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  color: $orange;
  transition: all 0.3s;
}

.contact {
  display: flex;
  margin: 3rem 0;
}
