.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0px auto;
}

.tagline {
  color: var(--orange);
  font-family: var(--oxygen-mono);
  font-size: clamp(var(--fs-sm), 5vw, var(--fs-md));
}

.headings {
  padding: 20px 0;
}

.heading {
  font-family: var(--apex-bold);
  color: var(--white);
  font-size: clamp(40px, 8vw, 80px);
  letter-spacing: 0.3rem;
}

.slate {
  color: var(--slate);
}

.subheading {
  color: var(--slate-light);
  font-family: var(--bevietnam-light);
  font-size: var(--fs-xl);
  max-width: 425px;
  line-height: 1.5;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 3rem;
}

.icon {
  width: 50px;
  height: 50px;
  fill: var(--slate-light);
  cursor: pointer;
  transition: all 0.3s;
}
.icon:hover {
  fill: var(--orange);
  transition: all 0.3s;
}
