$orange: #f1bb52;
.title {
  color: white;
  // font-family: "Oxygen Mono";
  font-family: "Kreon";
  white-space: nowrap;
  margin-right: 1rem;
  font-size: 24px;
}

.heading {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 2rem;
}

.hr {
  border-bottom: solid 1px #b9cac9;
  width: 100%;
}
