.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: 100px;
}

.lastcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: 40px;
}

.pic {
  display: block;
  width: 100%;
  height: auto;
}
.inversepic {
  display: block;
  width: 100%;
  height: auto;
  order: 2;
}

.text {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: right;
}
.inversetext {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
}

.tagline {
  color: var(--orange);
  font-family: var(--oxygen-mono);
  font-size: var(--fs-xs);
}

.title {
  color: var(--white);
  font-family: var(--bevietnam-bold);
  font-size: var(--fs-xl);
  line-height: 2;
}

.description {
  margin: 15px 0 25px 0;
}

.tags {
  display: flex;
  margin-bottom: 25px;
  align-self: flex-end;
}
.inversetags {
  display: flex;
  margin-bottom: 25px;
  align-self: flex-start;
}

.tag {
  color: var(--orange);
  font-family: "Oxygen Mono";
  font-size: var(--fs-xs);
  border: solid 1px var(--orange);
  border-radius: 2px;
  margin-left: 1rem;
  padding: 5px 10px;
}
.inversetag {
  color: var(--orange);
  font-family: "Oxygen Mono";
  font-size: var(--fs-xs);
  border: solid 1px var(--orange);
  border-radius: 2px;
  margin-right: 1rem;
  padding: 5px 10px;
}

.icons {
  display: inline-flex;
  align-self: flex-end;
}
.inverseicons {
  display: inline-flex;
}

.icon {
  fill: var(--slate-light);
  width: 25px;
  height: 25px;
  margin-left: 1.5rem;
  cursor: pointer;
  transition: fill 0.3s;
}
.icon:hover {
  fill: var(--orange);
  transition: fill 0.3s;
}
.inverseicon {
  fill: var(--slate-light);
  width: 25px;
  height: 25px;
  margin-right: 1.5rem;
  cursor: pointer;
  transition: fill 0.3s;
}
.inverseicon:hover {
  fill: var(--orange);
  transition: fill 0.3s;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .container,
  .lastcontainer {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .pic,
  .inversepic {
    order: -1;
    align-self: center;
    margin-bottom: 50px;
  }

  .text {
    text-align: left;
  }

  .tags,
  .icons {
    align-self: flex-start;
    flex-wrap: wrap;
  }

  .tag,
  .inversetag {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .icon,
  .inverseicon {
    margin-right: 1.5rem;
    margin-left: 0;
  }
}
