.content {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 40px;
}

.entry {
  display: flex;
  margin-bottom: 150px;
  height: 285px;
  justify-content: space-between;
}

.projectpic {
  width: 60%;
}

.projectdesc {
  align-self: center;
  width: 35%;
}

.pic {
  display: block;
  height: auto;
  /* mix-blend-mode: multiply;
   filter: grayscale(100%);
   transition: 0.2s;*/
}

.desc {
  width: 100%;
  text-align: right;
}

.duo {
  display: flex;
  position: relative;
  border: solid 2px white;
  height: 200px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--orange);
}

.duo:hover .overlay {
  opacity: 0.7;
}

/*.wrapper:hover {
   .pic {
     filter: none;
      transform: translate(-20px, -15px);
     transition: 0.2s;
     mix-blend-mode: normal;
   }
   background-color: white;
   transition: 0.2s;
 }*/

.projecttitle {
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  margin-bottom: 1rem;
}

.tag {
  border: solid 1px var(--orange);
  padding: 5px 10px;
  margin-right: 1rem;
  color: var(--orange);
  font-family: "Oxygen Mono";
  font-size: 12px;
}

.icons {
  display: flex;
}

.icon {
  color: #b9cac9;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 1rem;
}

.icon:hover {
  color: var(--orange);
  transition: all 0.3s;
}
