.title {
  color: var(--white);
  font-family: var(--apex-bold);
  letter-spacing: 0.1rem;
  white-space: nowrap;
  margin-right: 1rem;
  font-size: 24px;
}

.heading {
  display: flex;
  align-items: center;
  width: 48%;
  margin-bottom: 2rem;
}

.hr {
  border-bottom: solid 1px #b9cac9;
  width: 100%;
}
