.container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.heading {
  color: var(--white);
  font-family: var(--apex-bold);
  font-size: 24px;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  margin-right: 1rem;
}

.hr {
  border-bottom: solid 1px var(--slate-light);
  width: 200px;
}

.anchor {
  color: var(--orange);
}

@media screen and (max-width: 768px) {
  .hr {
    width: 100%;
  }
}
